body {
font-family:arial;
background-color:darkslategray;
color:bisque;
}

.rainfallBar {
       margin: 10px ;
       width: 35px ;
       position: relative ;
       display: inline-block ;
       vertical-align: bottom ;
       background-color: lightgray ;
}

.rainfallBar >  img {
	top : -70px ;
       left: 10px ;
       position: absolute ;

}

.rainfallTxt {
       bottom: 20px ;
       left: 5px ;
       position: absolute ;
       font-size: 8pt ;
       color: black ;
       transform: rotate(320deg) ;
}

.rainfallDate {
   bottom: -20px ;
   left: -5px ;
   position: absolute ;
   font-size: 8pt ;
   color: navy ;
   transform: rotate(320deg) ;
}

table, tr, th, td {
       background-color: bisque;
       border-bottom: solid 1px navy;
       padding-right:50px;
       color:navy;
}
table {
       border-collapse:  collapse;
}

.switch-link {
       color: bisque;
       text-decoration: none;
}

.switch-link:hover {
       text-decoration: underline;
}